<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <configSections>
    <!--MailNext custom section -->
    <section
        name="mailnet"
        type="MailNet.EmailConfig"
        />
  </configSections>
  
  
  <!--MailNext custom sections with values, there are few more other settings please check see all of them below commented-->
  <mailnet smtpServer="mail.google.com" templatePath="~/email_templates/" username="[your_email_here]" password="your_password_here"></mailnet>
  <!--<mailnet enable="true" isBodyHtml="true" smtpServer="mail.google.com" username="[your_email_here]" password="your_password_here" templatePath="~/email_templates/" from="ludmal@gmail.com" url="http://www.google.com" ssl="false" ></mailnet>-->
  
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>

  <system.webServer>
     <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>
